APP_ENV=development
APP_LOG_LEVEL=INFO
DATABASE_URL=postgresql+psycopg://energy_weather:energy_weather@db:5432/energy_weather
WEATHER_LOCATION_NAME=paris
WEATHER_LATITUDE=48.8566
WEATHER_LONGITUDE=2.3522
WEATHER_FORECAST_HOURS=24
WEATHER_PAST_HOURS=24
ENERGY_API_URL=https://odre.opendatasoft.com/api/explore/v2.1/catalog/datasets/eco2mix-national-tr/records
ENERGY_RECORD_LIMIT=96
API_BASE_URL=http://api:8000/api/v1
